@tailwind base;
@tailwind components;
@tailwind utilities;
/* body *{
  border: 1px solid red;
} */

/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* Defina a fonte para o corpo do documento */
body {
  font-family: 'Montserrat', sans-serif;
}

input {
  outline: none;
}
